[buildout]
develop = .
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.contentprovider [test]

[versions]
zope.browserpage = 4.1.0a1
zope.browsermenu = 4.1.0a1
zope.i18n = 4.0.0a4
zope.tal = 4.0.0a1
zope.publisher = 4.0.0a1
zope.security = 4.0.0a3
zope.traversing = 4.0.0a1
